@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>First Change</p>
        <p>Second Change</p>
        <p>Machine Name: @Html.Raw( ViewData["MachineName"])</p>
        <p>Third Change</p>
        <p>Changes in Staging 3</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
